* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --cor-fundo-header: azure;
  --cor-fundo: rgb(174, 230, 230);
  --cor-texto: #000;
  --cor-nav: darkslategrey;
  --cor-button: cadetblue;
  --cor-button-hover: darkorange;
}

[data-theme="light"] {
  --cor-fundo-header: rgb(159, 161, 161);
  --cor-fundo: rgb(0, 0, 0);
  --cor-texto: #fff;
  --cor-nav: darkslategrey;
  --cor-button: cadetblue;
  --cor-button-hover: darkorange;
}

body {
    background-color: var(--cor-fundo);
    font-size: larger;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header {
    background-color: var(--cor-fundo-header);
    padding: 40px;
    border-bottom-right-radius: 20px;
}

.controles-acessibilidade button {
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    background-color: red;
    padding: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

h1, h2 {
    font-size: 2rem;
    color: var(--cor-texto);
}

p, li, label {
    font-size: 1rem;
    color: var(--cor-texto);
}

p {
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 10px;
    border-right: 1px solid #000;
}

a:hover {
    color:rgb(174, 230, 230);
}

.main {
    padding: 20px;
}

.info {
    padding-left: 40px;
}

label {
    padding: 10px;
}

#message {
    padding: 20px;
    border-radius: 20px;
    border-style: dashed;
    resize: none;
}

input {
    padding: 20px;
    border-radius: 20px;
    border-style: dashed;
}

.fotoBlog {
    width: 400px;
    height: 400px;
    border-radius: 40px;
}